.customerDetails {
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 8px 20px #00000017;
  padding: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.buttonsDiv {
  display: flex;
  gap: 10px;
}

.customerContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 15px;
}
.fullWidth {
  grid-column: 1 / -1;
}
.agent_profile {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}
.agent_profile .image_profile {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid silver;
}

.status {
  border-radius: 100px;
  background-color: #deffe2;
  color: #009800;
  padding: 3px 10px;
}

@media screen and (max-width: 567px) {
  .header {
    flex-direction: column;
  }
  .buttonsDiv {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header button:first-child {
    grid-column: 1 / -1;
  }
  .customerContent {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 420px) {
  .agent_profile {
    margin-top: 20px;
    flex-direction: column;
  }
}
