.box {
  user-select: none;
}

.box label {
  color: var(--text-color);
  text-transform: capitalize;
  font-family: var(--ff-primary-bold);
  font-size: var(--fs-base);
  margin-bottom: 4px;
  margin-inline-start: 8px;
}
.loader_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: black;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.csvBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  position: relative;
  flex-direction: column;
  position: relative;
  background-color: var(--white-color) !important;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
}

.csvBox .viewBtnBox {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: inherit;
  opacity: 0;
  padding: 8px;
}

.csvBox:hover .viewBtnBox {
  opacity: 1;
  transition: opacity 0.3s;
}

.uploadImageBox {
  width: 100%;
  height: 200px;
  border-radius: var(--global-border-radius);
  box-shadow: 0px 0 5px 2px #0000000d;
  position: relative;
}

.uploadBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.uploadBox .icon {
  height: 75px;
  width: 75px;
  color: var(--label-color);
}

.uploadBox .uploadIcon {
  position: absolute;
  right: 12px;
  top: 10px;
  background-color: var(--main-color);
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uploadBox .uploadIcon svg {
  color: var(--white-color);
  font-size: 20px;
}

/* Image Uploaded */

.editAndDelete {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 1;
}

.editAndDelete button {
  margin-bottom: 4px !important;
}

.icon {
  background-color: var(--primary-color);
  padding: 6px;
  border-radius: 7px;
  cursor: pointer;
  display: block;
  margin-bottom: 4px !important;
  min-width: auto !important;
  height: auto !important;
  clip-path: none !important;
  box-shadow: none !important;
}

.icon svg {
  color: var(--white-color);
  vertical-align: middle;
  width: 16px;
  height: 16px;
  display: inherit;
}

.closeIcon {
  position: absolute;
  top: 10px;
  left: 12px;
  background-color: var(--main-color);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 3px 1px #afa8a8;
  z-index: 2;
}

.closeIcon svg {
  color: var(--white-color);
  vertical-align: middle;
  display: flex;
}

.uploadText {
  display: block;
  opacity: 0.4;
  color: var(--placeholder-color);
  font-size: 16px;
  font-family: var(--ff-primary-bold);
}

/* Render */
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top center;
  border-radius: inherit;
}

.typeIcon {
  font-size: 40px;
  color: var(--primary-color);
}
