.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.header label {
  color: var(--white-color);
  font-family: var(--ff-primary-reg);
  font-size: var(--fs-200);
  margin-bottom: 0;
}
.singleItem {
  display: flex;
  margin-block: 12px;
  gap: 10px;
  align-items: center;
}
.addBtn {
  margin-right: 40px;
  margin-top: -7px;
  display: flex;
  justify-content: flex-end;
}
.addBtn span {
  font-size: var(--fs-200);
  padding-bottom: 2px;
  border-bottom: 1px solid var(--white-color);
  color: var(--white-color);
  cursor: pointer;
  font-size: 14px;
}
.singleItem svg {
  cursor: pointer;
}
