.mortgage__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.renderFields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 15px;

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
.payment__wrapper {
  box-shadow: var(--section-shadow);
  padding: 1rem;
  border-radius: 4px;
  background: #fff;
}
.payment__heading {
  font-family: var(--ff-primary-bold);
  font-size: 24px;
  margin: 1rem 0;
  color: black;
}
.month {
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 4px;
  background: var(--main-color);
  color: #fff;
  margin: 0;
}
