.tableWrapper {
}
.tableMain {
  overflow-x: auto;
}

.tableWrapper {
  height: 700px;
  overflow-y: auto;
}
.table {
  min-width: 1200px;
}

.tableMain::-webkit-scrollbar {
  display: none !important;
  height: 0 !important;
}
.tableHeaderWrapper {
  & h2 {
    color: var(--text-color);
    font-size: 22px;
    margin-bottom: 13px;
    font-family: var(--ff-primary-semiBold);
  }
}

.tableHeader {
  position: sticky;
  top: 0;
  z-index: 10;
}

.tableRow {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  isolation: isolate;
}
.tableRow::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}
.tableHeader .tableRow::before {
  border-radius: 10px;
  background: linear-gradient(270deg, #30bcdd 0%, #0f6ecd 100%);
}

.tableRow:not(:last-child) {
  border-bottom: 1px solid var(--table-border-color);
}

.tableHead {
  font-family: var(--ff-primary-med);
  color: var(--white-color);
}

.tableHead,
.tableData {
  padding: 0.8rem 0.8rem;
  font-size: var(--fs-base);
}

.tableData {
  font-family: var(--ff-primary-reg);
  color: var(--text-color);
}
