.header {
  padding: 15px 0px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(270deg, #000 0%, #10254d 100%);
  background-blend-mode: color-dodge, normal;
  background-size: cover;
  max-width: 100%;
  user-select: none;
  border-radius: 0.4rem;
  padding: 10px 20px;
  margin-inline: 18px;
  position: relative;
  @media screen and (max-width: 350px) {
    margin-inline: 10px;
  }
}
.iconDiv:first-of-type {
  margin-inline-start: auto;
}
.iconDiv {
  height: 40px !important;
  width: 40px !important;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #30bcdd; */
  border-radius: 50%;
  cursor: pointer;
  border: 0.5px solid var(--white-color);
  flex-shrink: 0;
}

.iconDiv svg {
  display: inline-block;
  vertical-align: top;
  color: var(--white-color);
  font-size: 22px;
}
.notificationIcon {
  position: relative;
}
.notificationCount {
  position: absolute;
  top: -9px;
  right: -10px;
  background-color: #ff171b;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-size: 9px;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px !important;
  font-family: var(--ff-primary-bold);
}

.profileImg {
  background-color: #d6d6d6;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.profileImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}
.profile-name {
  font-family: var(--ff-primary-semiBold);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.profileImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}

.notifyIconDiv {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.notifyIcon {
  cursor: pointer;
  font-size: 35px;
}

.notifyoverlayDiv {
  top: 7px !important;
  left: -10px !important;
  z-index: 2;
  background-color: var(--white-color);
  box-shadow: 1px 1px 8px 0px #d5d5d5;
  border-radius: 20px;
}

.notifyoverlayDiv ul {
  padding: 20px 20px;
  margin-bottom: 0px;
}

.notifyoverlayDiv ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: var(--dashboard-main-color);
  user-select: none;
  cursor: pointer;
}

.notifyoverlayDiv ul li:first-child {
  margin-bottom: 10px;
}

.notifyoverlayDiv ul li svg {
  vertical-align: middle;
}

.userName {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.userName p {
  font-size: 20px;
  font-family: "";
  margin-bottom: 0px;
  text-transform: capitalize;
  font-family: "Open-Sans-regular";
}

.signup {
  background-color: transparent;
  color: var(--dashboard-main-color);
  border: 1px solid var(--dashboard-main-color);
  padding: 0;
  height: 43px;
  width: 120px;
}

.login {
  margin-right: 16px;
  padding: 0;
  height: 43px;
  width: 120px;
}

.profile-wrapper {
  height: 42px;
  width: 42px;
  position: relative;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}

.profile-container p {
  /* padding: 0 12px 0 0; */
  margin: 0;
}

.heading {
  margin-inline-end: auto;
  margin-inline-start: 10px;
  font-family: var(--ff-secondary-med);
  position: relative;
  margin-block-end: 0;
  font-size: clamp(var(--fs-100), 3vw, var(--fs-500));
  font-family: var(--ff-primary-semiBold);
  color: var(--white-color);
  line-height: normal;
}

.actionWrapper p {
  margin: 0;
}

.actionWrapper ::before {
  position: absolute;
  top: calc(100% + 1rem);
  margin-right: 5px;
  content: "";
  z-index: 4;
  font-size: 38px;
  height: 3px;
  width: 100%;
  background-color: var(--main-color);
}

.linkWrapper {
  background-color: var(--white-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px #00000030;
  display: grid;
  padding: 0.5rem;
  margin-top: 1rem;
  z-index: 10;
}

.linkWrapper a {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 6px 8px;
  border-radius: 8px;
}

.linkWrapper a:hover {
  background-color: var(--secondary-color);
  color: var(--white-color) !important;
}
.backBtn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #509fee; */
  cursor: pointer;
  /* flex-shrink: 0; */
  float: left;
  position: absolute;
  left: 2%;
}
.backBtn svg {
  color: var(--white-color);
  font-size: 23px;
}
@media (max-width: 1080px) {
  .notifyIconDiv {
    margin-right: 16px;
    width: 40px;
    height: 40px;
  }

  .iconDiv {
    height: 40px !important;
    width: 40px !important;
  }

  .notifyIcon {
    font-size: 20px;
  }

  .profileImg {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 992px) {
  .backBtn {
    margin-left: 5px;
  }
  .navbarContainer {
    border-radius: 0;
    margin: 0;
  }
}
@media screen and (max-width: 580px) {
  .profile-name {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .profileImg {
    margin: 0;
  }
  .heading {
    font-size: 14px;
  }
  .iconDiv {
    margin-inline: 8px;
  }
  .navbarContainer {
    padding-inline: 10px;
  }
}
