.input__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 15px;

  @media screen and (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
.header {
  font-family: var(--ff-primary-bold);
  font-size: 24px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(240, 226, 226);
}
.button_container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
