.title {
  font-size: 26px;
  font-family: var(--ff-secondary-semi-bold);
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.content h4 {
  text-align: center;
  font-size: 25px;
}

.btnsBox {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 1rem;
}

.yesBtn {
  padding: 10px 45px !important;
}

.noBtn {
  padding: 10px 45px !important;
  color: var(--main-color) !important;
  background-color: transparent !important;
  border: 1px solid var(--main-color) !important;
  /* background-color: var(--main-color) !important; */
}


/* For Header */
.iconDiv {
  margin-bottom: 6px;
}

.modalHeader {
  padding: 0px;
}

.headingText {
  font-size: 24px;
  color: white;
  text-align: center;
}
.iconBox {
  position: absolute;
  top: 16px;
  right: 16px;
}
.message {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 16px;
}

.aCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

.__icon {
  margin-bottom: 1rem;
}
