.wrapper {
  height: 100vh;
  /* padding: 1rem; */
  display: flex;
  flex-wrap: wrap;
}

.pageMain {
  height: calc(100vh - 110px);
  overflow-x: clip;
  overflow-y: auto;
  overflow-clip-margin: 20px;
  padding-block: 15px;
  padding-inline: 18px;

  @media screen and (max-width: 350px) {
    padding-inline: 10px;
  }
}
.pageMain::-webkit-scrollbar {
  width: 5px;
}
.pageMain.bgMain {
  /* padding: 15px; */
  /* margin-inline: 15px; */
  /* background-color: var(--white-color); */
  /* box-shadow: 0px 8px 20px #00000015; */
}
.GiHamburgerMenuMobile {
  font-size: 24px;
  color: var(--white-color);
  cursor: pointer;
  /* margin-inline-end: auto; */
  flex-shrink: 0;
}

.sidebarDiv {
  width: 230px;
  background-color: var(--white-color);
  transition: all 0.3s ease;
}

.iscollapsed {
  transition: all 0.3s ease;
  width: 80px;
}

.contentDiv {
  width: calc(100% - 280px);
  /* padding-left: 1rem; */
  transition: all 0.3s ease;
  flex: 1;
  padding: 10px 0px !important;
}

.contentIsCollapsed {
  width: calc(100% - 96px);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 8px;
  width: 100%;
}

.footer p {
  margin: 0;
  color: var(--white-color);
  line-height: 0;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white-color);
}

.links a {
  color: var(--white-color);
  text-decoration: none;
  line-height: 1;
}

.links .seprator {
  background-color: var(--white-color);
  width: 1px;
  display: inline-block;
  height: 1rem;
}

/* @media screen and (max-width: 1440px) {
  .sidebarDiv {
    width: 300px;
  }

  .contentDiv {
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 1220px) {
  .sidebarDiv {
    width: 280px;
  }

  .contentDiv {
    width: calc(100% - 280px);
  }
} */

@media screen and (max-width: 1100px) {
  .sidebarDiv {
    width: 250px;
  }

  .contentDiv {
    width: calc(100% - 266px);
  }
}

@media screen and (max-width: 992px) {
  .contentOnMobileDiv {
    width: calc(100vw);
  }

  .pageMain {
    height: calc(100vh - 96px);
  }

  .sidebarOnMobileDiv {
    position: absolute;
  }
  .wrapper {
    padding-inline: 0;
  }

  .footer {
    text-align: center;
    gap: 1rem;
    flex-direction: column;
  }
}
