.container {
  /* padding: 0 35px; */
}

.container h6 {
  margin-bottom: 0px;
}

.btn_main {
  margin-top: 20px;
}

.btn {
  margin-top: 15px;
  width: 100%;
  background-color: var(--main-color);
}
