.switch {
  & span {
    font-family: var(--ff-primary);
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
}

.switch input:checked {
  box-shadow: none !important;
  border: 0px solid !important;
}

.switch .switchOff input:focus {
  box-shadow: none !important;
}

.switch input:focus {
  box-shadow: none !important;
}

.switch .switchOn:focus {
}

/* Custom */
.switch {
  position: relative;
  display: inline-block;
  width: 102px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dddddd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 7px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  /* background-color: #2196f3; */
}

input:focus + .slider {
  /* box-shadow: 0 0 1px #2196f3; */
}

input:checked + .slider:before {
  -webkit-transform: translateX(73px);
  -ms-transform: translateX(73px);
  transform: translateX(73px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
  padding-left: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
